.card {
  height: 200px;
  width: 250px;
  align-items: center;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

.card:hover {
  scale: 0.9;
  animation-duration: 0.9s;
}

.card img {
  height: 130px;
  width: 200px;
  border-radius: 15px;
}

.card p {
  width: 200px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(2, 6, 12, 0.6);
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-size: 14px;
  margin: auto;
}

.card h4 {
  font-size: 18px;
  width: 200px;
  color: black;
  text-transform: capitalize;
  text-wrap: nowrap;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.card h5 {
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-wrap: nowrap;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
  padding: 10px;
}
